<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Die Netzberechtigung lebt in DIESEM Modul. Wer es einbindet, bekommt
         sie; wer es nicht einbindet, ist beweisbar netzfrei. -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
